<h1>Bem vindo ao Sistema de Gerenciamento de Itens!</h1>

<div class="cards">

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <p-card header="Gerenciamento de Itens" subheader="O melhor e mais usado no ramo!" [style]="{height: '100%'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/cash.png">
        </p-header>
        <div>Nosso sistema provém de uma alta tecnologia avançada para melhor atender o Gerenciamento de Itens de sua empresa. Agora que você adquiriu nosso sistema, 
          você irá alavancar seus resultados e poderá obter um retorno financeiro muito maior a partir de agora!</div>
        <p-footer>
            
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-12 ui-md-4">
      <p-card header="Cadastro e Edição completa!" subheader="Todas as funcionalidades à seu dispor" [style]="{height: '100%'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/usercard.png">
        </p-header>
        <div>Você terá todas as funcionalidades necessárias para Criar, Editar, Visualizar, e Excluir qualquer item que a sua empresa irá precisar para poder obter um melhor
          Gerenciamento de itens!
        </div>
        <p-footer>
            
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-12 ui-md-4">
      <p-card header="Criado por: Silvio Regis" subheader="Desafio Front-End!" [style]="{height: '100%'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/silvio.png">
        </p-header>
        <div>Sistema criado com o objetivo de completar o Desafio Front-End da Sênior com o máximo de êxito possível, para poder concorrer à vaga especificada. 
          <br>
          <br>
          <a href="mailto:silvio.regis@outlook.com">silvio.regis@outlook.com</a>
          <br>
          <a href="tel:+5547988160292">(47) 9 8816-0292</a>
        </div>
        <p-footer>
            
        </p-footer>
      </p-card>
    </div>
  </div>   
</div>
 
<br>

<div class="footer">
  <p-footer>
      <small><i>Nada é tão certo quanto o ditado "a primeira impressão é a que fica", quando se trata do mundo dos negócios.</i></small>
  </p-footer>    
</div>
